@viewport {
    width: device-width;
    user-zoom: fixed;
}

body {
    text-align: center;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

body {
    background-image: url(../pic/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.title {
    margin: 300px auto 50px;
    width: 85vw;
}

.drag-and-drop{
    z-index:1003;
}

.drag {
    z-index: 1004;
}

.main {
    position: relative;
    width: 80vw;
    height: 60vw;
    margin: 0 auto;
    background-color: white;
}

.qimg {
    position: absolute;
    width:20%;
    height: calc(80%/3);
    object-fit: cover;
    top: 22vw;
}

.smooth {
    transition: 0.5s;
}

.letter {
    margin:0;
    line-height: 100%;
    position: absolute;
    font-size: 18vw;
    top:0;
    left:0;
    opacity: 0;
    transition-duration: 0.2s;
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

.hidebox {
    position: absolute;
    z-index: 1005;
    background-color: white;
    width: 100%;
    height: calc(300%/7);
}

.letterimg {
    position: absolute;
    width: 100%;
    top: 22vw;
    left:0;
    opacity: 0;
    transition-duration: 0.2s;
    z-index: 1002;
}

div.answer-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "UD Digi Kyokasho NK-R";
}

div.answer-frame input[type="text"] {
    height: 45px;
    width: 40vw;
    font-size: 43px;
    text-align: center;
    color: black;
    background-color: white;
    padding: 0;
    border: 0;
    font-family: "UD Digi Kyokasho NK-R";
}

div.answer-frame input[type="button"] {
    height: 50px;
    width: 140px;
    font-size: 30px;
    text-align: center;
    color: #3F8CFF;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "UD Digi Kyokasho NK-R";
}

.show {
    opacity: 1;
}
