.back{
  background-color: red;
  width:500px;
  height:500px;
}


@keyframes  InsteadTransition{
  0% {opacity:1;}
  100% {opacity:0;}
}

.trans{
  object-position: 0 0;
  width:100px;
  animation-name: InsteadTransition;
  animation-duration: 2s;

}
