.back{
  background-color: red;
  width:500px;
  height:500px;
}


@keyframes  InsteadTransition{
  0% {object-position: 0 0;}
  100% {object-position: 0 50px;}
}

.trans{
  object-position: 0 0;
  width:100px;
  animation-name: InsteadTransition;
  animation-duration: 2s;

}
